@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-dark">Welcome to the E-Singular store</h1>
    <p style="font-weight: bold; color: black;">This is a place where the greatest employees shop!</p>
</div>

<div class="text-center">
    <img src="~/media/products/singular%20picture.jpeg" alt="Bottom Image" class="img-fluid" />
</div>
